/* for colours */
.red-text {
  color: #e5625e;
}

.red-background {
  background-color: #e5625e;
}

.red-bg {
  border: 2px solid red;
}

html{
  background-color: #36294D;
}
.main{
  background-color: #36294D;
  color: white;
}